@model RoleViewModel

<div class="row accountForm col-sm-6 col-sm-offset-3">
    <form asp-controller="Role" asp-action="Change" method="post">
    
        <h2 class="Headers">Change</h2>


        <select class ="dropdown" name="selecteduser" onchange="this.form.submit()" >
            @foreach (User user in Model.Users)
            {

                if (Model.selectedUserId == user.Id)
                {
                    <option selected value="@user.Id">
                        @user.Firstname
                    </option>
                }

                else
                {
                    <option value="@user.Id">
                        @user.Firstname
                    </option>

                }
            }
        </select>


        <select class="dropdown" name="selectedrole">
            @foreach (Role role in Model.Roles)
            {

                                

                    if (Model.selectedRoleId == role.Id)
                    {
                    <option selected value="@role.Id">
                        @role.Name
                    </option>
                    }


                    else
                    {
                    <option value="@role.Id">
                        @role.Name
                    </option>
                    }
                

            }

        </select>

        <input type="submit" value="BEVESTIGEN" />
    
        </form>

</div>
