@model CallInSickViewModel;

<h1 class="Headers">Sick Report</h1>

@if (Model.isSick == true)
{
	<form asp-action="CallInSickPost" asp-controller="User" method="post">
		<input type="submit" value="I am no longer sick"/>
	</form>
}
else
{
	<form asp-action="CallInSickPost" asp-controller="User" method="post">
		<input type="submit" value="Report Sick" />
	</form>
}

<div>
	<h3 class="alignHorizontally">My sick days</h3>

</div>

<table class="ContactTable">
	<tr>
		<th class="tableheader">Date Sick</th>
		<th class="tableheader">Date Restored</th>
	</tr>

	@if (Model.SickReportsUser != null)
	{

		@foreach (SickReport report in Model.SickReportsUser)
		{
			<tr>
				<td class="tableitem">@report.DatetimeStartstring</td>
				<td class="tableitem">@report.DatetimeEndstring</td>
			</tr>
		}
	}
</table>

@if (Model.hasOverviewRight == true)
{
	if (Model.SickReportsUser != null)
	{
		<h3>Overview sick reports</h3>

		<table class="ContactTable">
			<tr>
				<th class="tableheader">Name User</th>
				<th class="tableheader">Date Sick</th>
				<th class="tableheader">Date Restored</th>
			</tr>
			@foreach (SickReport report in Model.SickReportsAll)
			{
				<tr>
					<td class="tableitem">@report.UserName</td>
					<td class="tableitem">@report.DatetimeStartstring</td>
					<td class="tableitem">@report.DatetimeEndstring</td>
				</tr>
			}
		</table>
	}

}
