@model CallInSickViewModel;

<h1 class="Headers">Sick Report</h1>

<<<<<<< HEAD
@if (Model.isSick == true)
{
	<form asp-action="CallInSickPost" asp-controller="User" method="post">
<<<<<<< HEAD
		<input type="submit" value="I am no longer sick"/>
=======
		<input type="submit" value="I am restored of sickness" />
>>>>>>> 43b0f14b24f2fc8d7c3bb709c0f8e45df63cb7c3
	</form>
}
else
{
	<form asp-action="CallInSickPost" asp-controller="User" method="post">
		<input type="submit" value="Report Sick" />
	</form>
}
=======
<div>
	<h3 class="alignHorizontally">My sick days</h3>
>>>>>>> 6b5fb602d9890bf3c100f92712f5beca4cb731ee

	@if (Model.isSick == true)
	{
		<form class="alignHorizontally" asp-action="CallInSickPost" asp-controller="User" method="post">
			<input type="submit" value="I am restored of sickness" />
		</form>
	}
	else
	{
		<form class="alignHorizontally" asp-action="CallInSickPost" asp-controller="User" method="post">
			<input type="submit" value="Report Sick" />
		</form>
	}
</div>

<table class="ContactTable">
	<tr>
		<th class="tableheader">Date Sick</th>
		<th class="tableheader">Date Restored</th>
	</tr>
	@if (Model.SickReportsUser != null)
	{

		@foreach (SickReport report in Model.SickReportsUser)
		{
			<tr>
				<td class="tableitem">@report.DatetimeStartstring</td>
				<td class="tableitem">@report.DatetimeEndstring</td>
			</tr>
		}
	}
</table>

@if (Model.hasOverviewRight == true)
{
	if (Model.SickReportsUser != null)
	{
		<h3>Overview sick reports</h3>

		<table class="ContactTable">
			<tr>
				<th class="tableheader">Name User</th>
				<th class="tableheader">Date Sick</th>
				<th class="tableheader">Date Restored</th>
			</tr>
			@foreach (SickReport report in Model.SickReportsAll)
			{
				<tr>
					<td class="tableitem">@report.UserName</td>
					<td class="tableitem">@report.DatetimeStartstring</td>
					<td class="tableitem">@report.DatetimeEndstring</td>
				</tr>
			}
		</table>
	}

}
