@model App.ViewModels.UserViewModel

<h2>Create new user</h2>
@using (Html.BeginForm("Create", "User"))
{
    @Html.TextBoxFor(m => m.Email)
    @Html.PasswordFor(m => m.Password)
    @Html.TextBoxFor(m => m.Firstname)
    @Html.TextBoxFor(m => m.Infix)
    @Html.TextBoxFor(m => m.Lastname)
    @Html.TextBoxFor(m => m.Telnr)
    @Html.TextBoxFor(m => m.Role)

    <input type="submit" value="Create Account" />
    
    <span class="col-sm-12">@Html.ValidationMessageFor(m => m.Email)</span>
    <span class="col-sm-12">@Html.ValidationMessageFor(m => m.Password)</span>
}
