@model ReservationViewModel

@{
    ViewData["Title"] = "ReserveRoom";
}

<h2 class="Headers">Reserve this Room</h2>
<form asp-controller="Reservation" asp-action="AddReservation" asp-route-roomId="@Model.RoomId" asp-route-userId="21">
    <input required asp-for="ReservationName" name="reservationName" />
    <input required asp-for="ReservationStart" value="@DateTime.Now" />
    <input required asp-for="ReservationEnd" value="@DateTime.Now" />
    <input onclick="ConfirmReservation()" type="submit" value="Submit Reservation" />
</form>
<br />
<br />
<h4 class="Headers">Current Reservations: </h4>
<table class="ReservationTable">
    <tr>
        <th class="tableheader">Reservation Name</th>
        <th class="tableheader">Start date and time of Reservation</th>
        <th class="tableheader">End date and time of Reservation</th>
        <th class="tableheader">Reserved by</th>
        <th class="tableheader">Delete reservation</th>
    </tr>
    @foreach (Reservation reservation in Model.Reservations)
    {
    <tr>
        <td class="tableitem">@reservation.ReservationName</td>
        <td class="tableitem">@reservation.ConvertDateTime(reservation.ReservationStart)</td>
        <td class="tableitem">@reservation.ConvertDateTime(reservation.ReservationEnd)</td>
        <td class="tableitem">@reservation.User.FullName</td>
        <td class="tableitem"><a asp-controller="Reservation" asp-action="DeleteReservation" asp-route-reservationId="@reservation.Id" onclick="return confirm('Are you sure you want to delete this reservation?')">Delete reservation</a></td>
    </tr>
    }
</table>


