@model List<App.Reservation>
@{
    ViewData["Title"] = "ReserveRoom";
}

<h2>Reserve room:</h2> 
<h4>Current Reservations: </h4>
<ul>
    @foreach (Reservation reservation in Model)
    {
        <li>@reservation.ReservationName | @reservation.ConvertDateTime(reservation.ReservationStart) | @reservation.ConvertDateTime(reservation.ReservationEnd) | By @reservation.User.FullName</li>
        <li class="list-unstyled"><a asp-controller="Reservation" asp-action="DeleteReservation" asp-route-reservationId="@reservation.Id">Delete reservation</a></li>
    }
</ul>
