@model ReservationViewModel

@{
    ViewData["Title"] = "ReserveRoom";
}

<h2 class="Headers">Reserve this room</h2>
<form class="row" asp-controller="Reservation" asp-action="AddReservation" asp-route-roomId="@Model.RoomId">
    <span class="col-sm-4 col-xs-offset-4">Name:</span>
    <input class="col-sm-4 col-xs-offset-4 RoomCreateInpute" required asp-for="ReservationName" name="reservationName" />
    <span class="col-sm-4 col-xs-offset-4">Starting time:</span>
    <input class="col-sm-4 col-xs-offset-4 RoomCreateInpute" required asp-for="ReservationStart" value="@DateTime.Now" />
    <span class="col-sm-4 col-xs-offset-4">End time:</span>
    <input class="col-sm-4 col-xs-offset-4 RoomCreateInpute" required asp-for="ReservationEnd" value="@DateTime.Now" />
    <input class="col-sm-4 col-xs-offset-4 buttonCreate" type="submit" value="Submit reservation" />
    @TempData["ConfirmReservation"]
    @TempData["WrongReservation"]
</form>
<br />
<br />
<h4 class="Headers">Current reservations: </h4>
<table class="ReservationTable col-sm-12">
    <tr>
        <th class="tableheader">Reservation name</th>
        <th class="tableheader">Start date and time of reservation</th>
        <th class="tableheader">End date and time of reservation</th>
        <th class="tableheader">Reserved by</th>
        <th class="tableheader">Delete reservation</th>
    </tr>
    @foreach (Reservation reservation in Model.Reservations)
    {
    <tr>
        <td class="tableitem">@reservation.ReservationName</td>
        <td class="tableitem">@reservation.ConvertDateTime(reservation.ReservationStart)</td>
        <td class="tableitem">@reservation.ConvertDateTime(reservation.ReservationEnd)</td>
        <td class="tableitem">@reservation.User.FullName</td>
        <td class="tableitem"><a asp-controller="Reservation" asp-action="DeleteReservation" asp-route-RoomId="@Model.RoomId" asp-route-reservationId="@reservation.Id" onclick="return confirm('Are you sure you want to delete this reservation?')">Delete reservation</a></td>
    </tr>
    }
</table>


