@model ReservationViewModel

@{
    ViewData["Title"] = "ReserveRoom";
}

<h2>Reserve room:</h2>
<h4>Current Reservations: </h4>
<form asp-controller="Reservation" asp-action="AddReservation" asp-route-roomId="@Model.RoomId" asp-route-userId="21">
    <input asp-for="ReservationName" name="reservationName" />
    <input asp-for="ReservationStart" value="@DateTime.Now" />
    <input asp-for="ReservationEnd" value="@DateTime.Now" />
    <input onclick="ConfirmReservation()" type="submit" value="Submit Reservation" />
</form>
<br />
<br />
<ul>
    @foreach (Reservation reservation in Model.Reservations)
    {
        <li>@reservation.ReservationName | @reservation.ConvertDateTime(reservation.ReservationStart) | @reservation.ConvertDateTime(reservation.ReservationEnd) | By @reservation.User.FullName</li>
        <li class="list-unstyled"><a asp-controller="Reservation" asp-action="DeleteReservation" asp-route-reservationId="@reservation.Id">Delete reservation</a></li>
    }
</ul>




